<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/iitb-logo.png" height="100px" alt="">
        </a>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&amp;display=swap'>
        <link rel='stylesheet' href='https://use.typekit.net/zlj2zcu.css'>
        <h1>
          <span class="main" aria-label="boring" data-splitting>LTA</span>
        </h1>



        <div id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <img src="../../../assets/lta lab logo.png" height="100px" alt="">
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container moving">
    <div class="inner">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dicta quasi a consectetur magni
        delectus aut modi labore aperiam et? Ipsa doloremque deserunt autem blanditiis, sapiente ducimus atque amet
        iusto!</div>
</div>
<mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
    <mat-tab label="Home">
        <ng-template matTabContent>
            <app-home></app-home>
        </ng-template>
    </mat-tab>
    <mat-tab label="About">
        <ng-template matTabContent>
            <app-about></app-about>
        </ng-template>
    </mat-tab>
    <mat-tab label="Project">
        <ng-template matTabContent>
            <app-project></app-project>
        </ng-template>
    </mat-tab>
    <mat-tab label="Past">
        <ng-template matTabContent>
            <app-past></app-past>
        </ng-template>
    </mat-tab>
    <mat-tab label="Faculties">
        <ng-template matTabContent>
            <app-faculties></app-faculties>
        </ng-template>
    </mat-tab>
    <mat-tab label="People">
        <ng-template matTabContent>
            <app-people></app-people>
        </ng-template>
    </mat-tab>
    <mat-tab label="Achievements">
        <ng-template matTabContent>
            <app-achievements></app-achievements>
        </ng-template>
    </mat-tab>
    <mat-tab label="Outreach">
        <ng-template matTabContent>
            <app-outreach></app-outreach>
        </ng-template>
    </mat-tab>
</mat-tab-group>
