<br>
<br>


<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <div class="containerTeam">
      <div class="cards">
        <div class="imgBx">
          <img
            src="https://images.unsplash.com/photo-1595211877493-41a4e5f236b3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=716&q=80"
          />
        </div>
        <div class="content">
          <div class="details">
            <h2>Cleo McDowell <br /><span>Senior Designer</span></h2>
            <ul class="social_icons">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="imgBx">
          <img
            src="https://images.unsplash.com/photo-1614317226858-a2bcad5498c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
          />
        </div>
        <div class="content">
          <div class="details">
            <h2>Sheree Sampson <br /><span>Senior Developer</span></h2>
            <ul class="social_icons">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="imgBx">
          <img
            src="https://images.unsplash.com/photo-1606596556957-f6566cc865a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80"
          />
        </div>
        <div class="content">
          <div class="details">
            <h2>Amani Nation <br /><span>Software Engineer</span></h2>
            <ul class="social_icons">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="imgBx">
          <img
            src="https://images.unsplash.com/photo-1609436132311-e4b0c9370469?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80"
          />
        </div>
        <div class="content">
          <div class="details">
            <h2>Andrea Styles <br /><span>Senior Web Developer</span></h2>
            <ul class="social_icons">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>




    <br>
    <br>



    <div class="containerTable" >
<table>
	<thead>
		<tr>
			<th>Name </th>
			<th>Position</th>
			<th>Contact</th>
      <th>Email Id</th>
		</tr>
	</thead>
	<tbody>

    <tr>
			<td aria-label="Job Title">
          Pulkit Jindal
				</td>
			<td aria-label="Location">Website Development</td>
			<td aria-label="Department">7976545599</td>
			<td aria-label="Posted">200020102@iitb.ac.in</td>
		</tr>

		<tr>
			<td aria-label="Job Title">
          Ayush Kapoor
				</td>
			<td aria-label="Location">Website Development</td>
			<td aria-label="Department"></td>
			<td aria-label="Posted"></td>
		</tr>
	</tbody>
</table>
</div>
<br>
<br>
