

<div style="display: flex; flex-wrap: wrap; justify-content: space-around; margin-top: 20px;">
<div class="col-12 col-md-6 col-lg-4">
    <div class="card card2">
        <a routerLink="/outreach/workshops" class="">
            <span class="card-icon-top  vfi vfi-porte-voix" aria-hidden="true"></span>
            <div class="card-body">
                <span class="card-title">Workshops</span>
                <p class="card-text">Some text here if required.</p>
            </div>
        </a>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <div class="card card2">
        <a routerLink="/outreach/conferences" class="">
            <span class="card-icon-top  vfi vfi-porte-voix" aria-hidden="true"></span>
            <div class="card-body">
                <span class="card-title">Conferences</span>
                <p class="card-text">Some text here if required.</p>
            </div>
        </a>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <div class="card card2">
        <a routerLink="/outreach/guest-lectures" class="">
            <span class="card-icon-top  vfi vfi-porte-voix" aria-hidden="true"></span>
            <div class="card-body">
                <span class="card-title">Guest Lectures</span>
                <p class="card-text">Some text here if required.</p>
            </div>
        </a>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-4">
    <div class="card card2">
        <a routerLink="/outreach/training-programs" class="">
            <span class="card-icon-top  vfi vfi-porte-voix" aria-hidden="true"></span>
            <div class="card-body">
                <span class="card-title">Training Programs</span>
                <p class="card-text">Some text here if required.</p>
            </div>
        </a>
    </div>
</div>

</div>